.product_table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    /* margin: 25px 0; */
    font-size: 0.9em;
    font-family: sans-serif;
    /* min-width: 600px; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead {
    background-color: rgb(228, 149, 0);
}

tbody th{
    /* padding: 5px; */
    color: rebeccapurple;
    /* background-color: aqua; */
}

thead th{
    padding: 5px;
}
