*{
    margin: 0;
    padding: 0;
}

.brands{
    position: relative;
    overflow: hidden;
    /* padding: 20px; */
    margin: 0;
}

.title{
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    /* margin-bottom: 40px; */
    text-transform: capitalize;
}

.brand_container{
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    /* height: 500px;
    width: 100%; */
}

.brand_container::-webkit-scrollbar{
    display: none;
}

.brand_card{
    /* flex: 0 0 auto; */
    width: 250px;
    height: 100px;
    /* margin-left: 10px; */
    margin-right: 10px;
}

.brand_card img{
    width: 100%;
    height: 100%;
    align-items: center;
}

.prev_button, .next_button{
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 8;
}

.next_button{
    right: 0;
    background: linear-gradient(90deg, #757575 0%, #575757 100%);
}

.prev_button{
    background: linear-gradient(90deg, #575757 0%, #757575 100%)
}

.prev_button h3, .next_button h3{
    color: white;
}

.prev_button:hover h3, .next_button:hover h3{
    color: black;
}
