* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

.slider_wrapper .image_list{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    overflow-x: auto;
    scrollbar-width: none;
    margin-bottom: 30px;
}
.slider_wrapper .image_list::-webkit-scrollbar{
    display: none;
}

.slider_wrapper .image_list .image_item{
    width: 100;
    height: 50px;
}

.image_container{
    max-width: 1200px;
    width: 95%;
}

.image_container .slider_scrollbar{
    height: 24px;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
}

.slider_scrollbar .scrollbar_track{
    height: 2px;
    width: 50%;
    background-color: black;
    position: relative;
    border-radius: 4px;
}

.slider_scrollbar .scrollbar_thumb{
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: black;
}