.navbar {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding-right: 15px;
    /* margin-right: 10px; */
    background-color: #a1a1ab;
    height: max-content;
}

.navbar a {
    text-decoration: none; 
}

.navbar img {
    display: block;
    height: fit-content; 
    width: auto; 
}
