{% extends "admin/admin_base.html" %}
{% load static %}
{% block content %}
    <script src="{% static 'js/admin_list.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/admin_list.css' %}">
    <table class="product_table">
        <thead>
            <tr>
                <th>
                    <input id="bulk_checkbox" type="checkbox" autocomplete="off" onclick="handle_bulk_checkbox(this)">
                </th>
                <th>Database ID</th>
                <th>Description</th>
                <th>Last Updated</th>
            </tr>
        </thead>
        <tbody id="table_body">
            {% for product in products %}
            <tr id="{{product.id}}" class="table_unit">
                <th><input type="checkbox" autocomplete="off" onclick="handle_checkbox(this, {{product.id}})"></th>
                <th>{{product.id}}</th>
                <th>{{product.description}}</th>
                <th>{{product.updated}}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- <button type="button" onclick="delete_model_instances()">Delete</button> -->
    <button type="button" onclick="delete_checked_products(event)">Delete</button>
    <!-- <button type="button" onclick="checked_array_body()">Check</button> -->
{% endblock content %}