{% block brands %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/brands.css' %}">
<section class="brands">
    <h2 class="title">Marcas Reconocidas</h2>
    <button class="prev_button"> <h3> &leftarrow; </h3> </button>
    <button class="next_button"> <h3> &rightarrow; </h3> </button>
    <div class="brand_container">
        <div class="brand_card">
            <img src="{% static 'images/brands/fram.webp' %}">
        </div>
        <div class="brand_card">
            <img src="{% static 'images/brands/aisin.png' %}">
        </div>
        <div class="brand_card">
            <img class="brand_image" src="{% static 'images/brands/fp_diesel.jpg' %}">
        </div>
    </div>
</section>
{% endblock brands %}