<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Producto</title>
</head>
<body>
    {% extends 'admin/admin_base.html' %}
    {% block content %}
    {% load crispy_forms_tags %}
    <form method="POST", enctype="multipart/form-data">
        {% csrf_token %}
        {{ product_form.as_p }}
        <input type="submit" name="submit" value="Submit">
        <input type="submit" name="submit_add_another" value="Submit and Add Another">
    </form>
    {% endblock content %}

</body>
</html>

